body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    width: 100%;
}

body > div {
    border: 5px solid;
    margin: 5px;
    padding: 5px;
}

#one{
    order: 0;
    border-color: black;
}
#two{
    order: 2;
    border-color: blue;
}
#three{
    order: 3;
    grid-column: 1;
    border-color: yellow;
}
#four{
    order: 4;
    grid-column: 3;
    border-color: green;
}
#link{
    order: 1;
    text-align: center;
}